<%= form_for @group, html: {data: {turbo: false}} do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <%= f.submit 'Save', class: "btn btn-primary" %>
  <%= link_to 'Back', groups_path, class: "btn btn-primary" %>
<% end %>

