<%= render 'group_filter_navbar' %>

<% @groups.each do |group| %>
  <div class="container bg-light mb-2">
    <div class="row">
    <div class="col-10 align-group-title">
      <div class="row", style="width:95%;">
        <div class="col-8">
          <h2><%= link_to group.name, group_path(group) %></h2>
        </div>
      </div>
      <div class="row", style="width:100%;" >
        <div class="col-2"><p><small><%= group.users.count %> Members</small></p></div>
        <div class="col-2"><p><small><%= group.posts.count %> Posts</small></p></div>
        <% if group.posts.last.present? %>
          <div class="col-5"><p><small>Updated <%= time_ago_in_words(group.posts.last.updated_at) %> ago</small></p></div>
        <% end %>
        <% if policy(group).group_creator? %>
          <div class="col-1"><p><small><%= link_to 'Edit', edit_group_path(group) %></small></p></div>
          <div class="col-1"><p><small><%= link_to "Delete", group_path(group), data: { turbo_method: :delete , turbo_confirm: "Are you sure?" } %></small></p></div>
        <% end %>
      </div>
    </div>
    <div class="col-2 mt-2">
      <% if group.creator != current_user %>
        <% if current_user.groups.pluck(:id).include?(group.id) %>
          <%= link_to 'Leave', leave_groups_path(group, current_user.id), class: "btn btn-primary block" %>
        <% else %>
          <%= link_to 'Join', join_groups_path(group), class: "btn btn-primary block" %>
        <% end %>
      <% else %>
        <p class="pt-3"><span>Created by you</span></p>
      <% end %>
    </div>
    </div>
  </div>
<% end %>


