<h1>Groups</h1>
<%= link_to "+ Create a new group ", new_group_path, class: "btn btn-primary" %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">User</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <th scope="row"><%= group.id %></th>
        <td><%= link_to group.name, group_path(group) %></td>
        <td><%= group.creator.email %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to "Delete", group_path(group), data: { turbo_method: :delete , turbo_confirm: "Are you sure?"} %></td>
        <% if group.creator != current_user || !group.users.include?(current_user) %>
          <td>
            <%= link_to 'Join', join_groups_path(group) %>
          </td>
        <% else %>
          <td>
            <%= link_to 'Leave', leave_groups_path(group, current_user.id) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

