<div class="row align-group-and-members">
  <div class="col-9">
    <div class="row">
      <div class="col-5">
        <h2><%= @group.name %></h2>
      </div>
      <% if policy(@group).group_creator? %>
        <div class="col-1">
          <%= link_to new_group_path do %>
            <h1><i class="bi bi-gear">
              <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-gear" viewBox="0 0 20 24">
                <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
              </svg>
            </i></h1>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if policy(@group).is_member? %>
      <div class="container overflow-hidden my-auto">
        <%= render partial: 'shared/post_form', locals: { path: group_posts_path(@group) } %>
      </div>
    <% end %>
    <div class="my-auto">
      <h3 class="pt-4">All Posts</h3>
      <% if @group.posts.present? %>
        <% @group.posts.each do |post| %>
          <div class="container p-3 my-3 border">
            <div class="form-group mb-2"><h5><%= post.title %></h5></div>
            <div class="form-group"><%= post.description %></div><br>
            <div class="row mt-2">
              <div class="col-4">
                <p><small><%= post.user.full_name %> created <%= time_ago_in_words(post.updated_at) %> ago</small></p>
              </div>
              <% if policy(post).post_creator? %>
                <div class="col-1">
                  <p><small><%= link_to 'Edit', edit_group_post_path(@group, post) %></small></p>
                </div>
              <% end %>
              <% if (policy(post).post_creator?) or policy(post).group_creator? %>
                <div class="col-1">
                  <p><small><%= link_to "Delete", group_post_path(@group, post), data: { turbo_method: :delete , turbo_confirm: "Are you sure?" } %></small></p>
                </div><br>
              <% end %>
              <div>
                <%= link_to 'View post ->', group_post_path(@group, post) %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3>No posts to display</h3>
      <% end %>
    </div>
  </div>
  <div class="col-3">
    <div class="p-3 border bg-light mb-2">Members</div>
    <% @group.users.each do |user| %>
      <div class="row gx-5 align-group-title">
        <div class="col-8">
          <div class="form-group my-auto mx-auto">
            <h5><%= user.first_name %>  <%= user.last_name %></h5></div>
        </div>
        <% if policy(@group).group_creator? %>
          <div class="col-4">
            <% if user.id != current_user.id %>
              <%= link_to leave_groups_path(@group, user) do %>
                <i class="icon-back-arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                  </svg>
                </i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
