<div class="container px-4"><br>
  <div class="row gx-5">
    <div class="col">
      <h2><%= @group.name %></h2>
      <div class="container overflow-hidden">
        <%= render partial: 'shared/post_form', locals: { path: group_posts_path(@group) } %>
      </div><br>

      <div>
        <h3>All Posts</h3><br>
        <% if @group.posts.present? %>
          <% @group.posts.each do |post| %>
            <div class="container p-3 my-3 border">
              <div class="form-group mb-2">
                <h5><%= post.title %></h5>
              </div>

              <div class="form-group">
                <%= post.description %>
              </div>
              <%= link_to 'Edit', edit_group_post_path(@group, post) %>
              <%= link_to "Delete", group_post_path(@group, post), data: { turbo_method: :delete , turbo_confirm: "Are you sure?"} %>
            </div>
          <% end %>
        <% else %>
          <h3>No posts to display</h3>
        <% end %>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">Members</div>
    </div>
  </div>
</div>
