<div class="container my-auto"><br>
  <%= form_for(:post, url: path, html: { data: { turbo: false } }) do |f| %>
    <div class="form-group">
      <%= f.text_field :title, placeholder:"Title",  style:"width: 49%;" %>
    </div><br>

    <div class="form-group">
      <%= f.text_area :description, placeholder:"Description", style:"width: 49%;" %><br>
      <%= f.file_field :image %>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

